/* Layout */

* {
    margin: 0;
}

html {
    overflow-y: scroll;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -48px;
    /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 30px;
}

.navbar-brand {
    padding: 12px 15px 8px;
}

.footer, .push {
    height: 48px;
    /* .push must be the same height as .footer */
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #d0d0d0;
}

footer p {
    margin: 12px 0;
}

#navbar_search {
    padding: 0 8px;
}

.right-side-panel {
    max-width: 400px;
    min-width: 300px;
    padding-right: 0;
}

/* Hide the username in the navigation menu on displays less than 1400px wide */

@media (max-width: 1399px) {
    #navbar_user {
        display: none;
    }
}

/* Hide the search bar in the navigation menu on displays less than 1250px wide */

@media (max-width: 1249px) {
    #navbar_search {
        display: none;
    }
}

/* Printer friendly CSS class and various fixes for printing. */

@media print {
    body {
        padding-top: 0px;
    }
    a[href]:after {
        content: none !important;
    }
    .noprint {
        display: none !important;
    }
}

/* Scroll the drop-down menus at or above 768px wide to match bootstrap's behavior for hiding dropdown menus */

@media (min-width: 768px) {
    .navbar-nav>li>ul {
        max-height: calc(80vh - 50px);
        overflow-y: auto;
    }
}

/* Collapse the nav menu on displays less than 980px wide */

@media (max-width: 979px) {
    #navbar {
        max-height: calc(80vh - 50px);
        overflow-y: auto;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        background-color: #252627;
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        max-height: none;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    #navbar_user {
        display: inline;
    }
}

.navbar-default {
    background-color: #252627;
    border-color: #252627;
}

/* Navigation menu */

ul.dropdown-menu {
    width: 250px;
}

ul.dropdown-menu div.buttons {
    padding-right: 10px;
    padding-top: 2px;
}

ul.dropdown-menu>li>a {
    clear: left;
}

.nav>li>a.dropdown-toggle {
    padding: 15px 12px;
}

/* Forms */

label {
    font-weight: normal;
}

label.required {
    font-weight: bold;
}

input[name="pk"] {
    margin-top: 0;
}

/* Tables */

th.pk, td.pk {
    padding-bottom: 6px;
    padding-top: 10px;
    width: 30px;
}

tfoot td {
    font-weight: bold;
}

table.attr-table td:nth-child(1) {
    width: 25%;
}

.table-headings th {
    background-color: #f5f5f5;
}

td.min-width {
    width: 1%;
}

/* Paginator */

div.paginator {
    margin-bottom: 20px;
}

div.paginator form {
    margin-bottom: 6px;
}

nav ul.pagination {
    margin-top: 0;
    margin-bottom: 8px !important;
}

/* Devices */

table.component-list td.subtable {
    padding: 0;
    padding-left: 16px;
}

table.component-list td.subtable td {
    border: none;
    padding-bottom: 6px;
    padding-top: 6px;
}

/* Reports */

table.reports td.method {
    font-family: monospace;
    padding-left: 30px;
}

td.report-stats label {
    display: inline-block;
    line-height: 14px;
    margin-bottom: 0;
    min-width: 40px;
}

table.report th {
    position: relative;
}

table.report th a {
    position: absolute;
    top: -51px;
}

/* Rendered Markdown */

.rendered-markdown table {
    width: 100%;
}

.rendered-markdown th {
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}

.rendered-markdown td {
    border-top: 1px solid #dddddd;
    padding: 8px;
}

.rendered-markdown :last-child {
    margin-bottom: 0;
}

/* Cable tracing */

.cable-trace {
    max-width: 600px;
    margin: 16px auto;
    text-align: center;
}

.cable-trace .node {
    background-color: #f0f0f0;
    border: 1px solid #909090;
    border-radius: 8px;
    padding: 24px 16px;
    position: relative;
    z-index: 1;
}

.cable-trace .termination {
    background-color: #f7f7f7;
    border: 1px solid #909090;
    border-radius: 4px;
    margin: -16px auto;
    padding: 12px;
    position: relative;
    width: 60%;
    z-index: 2;
}

.cable-trace .active {
    border: 3px solid #30C030;
}

.cable-trace .cable {
    border-left-style: solid;
    border-left-width: 4px;
    margin: 12px 0 12px 50%;
    padding: 24px;
    text-align: left;
    width: 50%;
}

.cable-trace .trace-end {
    margin-top: 48px;
    text-align: center;
}

/* Admonition (docs) */

.admonition {
    margin-bottom: 10px;
    padding-bottom: 2px;
}

.admonition p {
    padding: 0 12px;
}

.admonition pre {
    margin: 0 12px 10px;
}

.admonition p.admonition-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 4px 12px;
}

.admonition p.admonition-title::before {
    content: "\f06a";
    font-family: "FontAwesome";
    margin-right: 4px;
}

/* Admonition - Note */

.admonition.note {
    background-color: rgb(231, 242, 250);
}

.admonition.note .admonition-title {
    background-color: rgb(106, 176, 222);
}

.admonition.note .admonition-title::before {
    content: "\f05a";
}

/* Admonition - Warning */

.admonition.warning {
    background-color: rgb(255, 237, 204);
}

.admonition.warning .admonition-title {
    background-color: rgb(240, 179, 126);
}

.admonition.warning .admonition-title::before {
    content: "\f06a";
}

/* Admonition - Danger */

.admonition.danger {
    background-color: rgb(253, 243, 242);
}

.admonition.danger .admonition-title {
    background-color: rgb(242, 159, 151);
}

.admonition.danger .admonition-title::before {
    content: "\f071";
}

/* AJAX loader */

.loading {
    position: fixed;
    display: none;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Misc */

.color-block {
    display: block;
    width: 80px;
    border: 1px solid grey;
}

.inline-color-block {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid grey;
    border-radius: .25em;
    vertical-align: middle;
}

.text-nowrap {
    white-space: nowrap;
}

.banner-bottom {
    margin-bottom: 50px;
}

.panel table {
    margin-bottom: 0;
}

.panel .table th {
    border-bottom-width: 1px;
}

.panel table tr.even:first-child td {
    border-top: 0;
}

.panel .list-group {
    max-height: 400px;
    overflow: auto;
}

ul.nav-tabs, ul.nav-pills {
    margin-bottom: 20px;
}

ul.nav-tabs li a {
    padding: 8px 10px;
}

/* Fix progress bar margin inside table cells */

td .progress {
    margin-bottom: 0;
    min-width: 100px;
}

textarea {
    font-family: Consolas, Lucida Console, monospace;
}

/* MDI icons */

.mdi::before {
    font-size: 20px;
    line-height: 20px;
    position: relative;
    top: 2px;
}

.btn .mdi {
    margin: 0 -2px;

    opacity: .9 !important;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.btn .mdi::before {
    font-size: 20px;
    line-height: 14px;
    position: relative;
    top: 2px;
}

.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}

.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}

.dropdown-menu .mdi {
    margin-left: 2px;
}

.nav .mdi::before {
    left: -2px;
    position: relative;
    top: 2px;
}

.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: rgb(167, 155, 155);
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    opacity: 0.5;
    font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #555;
    background-color: #e7e7e7;
    font-weight: 700;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #555;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb a:hover span {
    text-decoration: underline;
}

.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}

.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}

.input-group-btn .mdi::before {
    font-size: 20px;
}

.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.list-group-item {
    background-color: #333333;
}

.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px;
    background-color: #333333;
}

.badge .mdi::before {
    font-size: 12px;
    left: 0;
    line-height: 12px;
    top: 0;
}

* {
    border: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter UI', -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
}

.panel-default>.panel-heading {
    color: rgb(187, 187, 187);
    background-color: #252627;
    border-color: #333;
    opacity: 0.9;
}

body {
    padding-top: 70px !important;
    background-color: #252627 !important;
}

.html .body {
    background-color: #252627 !important;
}

.container {
    background-color: #252627;
    opacity: 0.9;
    width: 90%;
}

.input-group .input {
    background-color: #333333;
    outline: none;
}

.navbar-form .input-group>.form-control {
    background-color: #333333;
    outline: none;
    box-shadow: none;
    color: rgb(202, 202, 202);
}

.form-inline .form-control {
    background-color: #fff;
    outline: none;
    box-shadow: none;
}

.container {
    background-color: #252627;
}

.container-fluid {
    background-color: #252627;
}

.navbar {
    background-color: #252627;
}

.list-group {
    background-color: #252627;
}

.dropdown-menu>li>a {
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    opacity: 0.8;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    opacity: 0.9;
}

.table-responsive.td:hover {
    background-color: #fff;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

table {
    background-color: #fff;
    opacity: 0.9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    color: rgb(202, 202, 202);
    vertical-align: top;
    border-top: 1px solid #ddd;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.h1, .h2, .h3, h1, h2, h3 {
    color: #fff;
    opacity: 0.5;
    font-weight: 700;
}

.badge {
    color: #fff !important;
    opacity: 0.8;
}

#id_q {
    background-color: #333333;
    outline: none;
    box-shadow: none;
    color: rgb(202, 202, 202);
}

#id_obj_type {
    background-color: #333333;
    outline: none;
    box-shadow: none;
    color: rgb(202, 202, 202);
}

.btn {
    color: rgb(202, 202, 202);
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #252627 !important;
}

li {
    color: rgb(202, 202, 202);
}

b, strong {
    color: rgb(202, 202, 202);
    font-weight: 700;
}

label {
    color: rgb(202, 202, 202);
}

p {
    color: rgb(202, 202, 202);
}

.attr-table tr {
    background-color: #333333 !important;
    border: 1px solid transparent;
}

.panel-body tr {
    background-color: #333333 !important;
    border: 1px solid transparent;
}

table {
    background-color: #333333;
    border: 1px solid transparent;
}

.odd {
    background-color: #333333;
    border: 1px solid transparent;
}

.even {
    background-color: #333333;
    border: 1px solid transparent;
}

tr {
    background-color: rgb(202, 202, 202);
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

.footer {
    background-color: #252627 !important;
    border: none !important;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    background-color: #333333 !important;
    outline: none !important;
    box-shadow: none !important;
    color: rgb(202, 202, 202);
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-selection.select2-selection--single {
    outline: none !important;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-container--bootstrap .select2-selection--single {
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 24px 6px 12px;
    background-color: #333 !important;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

.select2-container--bootstrap .select2-selection {
    background-color: #333 !important;
}

.select2-results__option {
    background-color: #333 !important;
}

input {
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
    outline: none !important;
    background-color: #333333 !important;
}

.input-group .form-control {
    background-color: #333333;
    outline: none;
    box-shadow: none;
    color: rgb(202, 202, 202);
}

.panel-default>.panel-heading {
    color: rgb(187, 187, 187);
    background-color: #252627;
    border-color: #333;
    opacity: 0.9;
}

.panel {
    margin-bottom: 20px;
    background-color: #333333;
    opacity: 0.8;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-footer {
    background-color: #333333;
    opacity: 0.8; 
}

input[type=checkbox], input[type=radio] {
    filter: grayscale(1) !important;
}

th {
    background-color: #252627 !important;
}


.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #252627;
    border: 1px solid #ddd;
    transition: color .1s ease-out 0s, background-color .1s ease-out 0s, opacity .1s ease-out;
}

#id_username {
    background-color: #444 !important;
    color: #fff;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}

#id_password {
    background-color: #444 !important;
    color: #fff;
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0px;
}
